p {
    color: white;
/*    font-size: 38px;
    font-weight: 40px;*/
}
#footer {
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: #fff;
        color: #ccc;
        text-align: center;
        /*background: #666;*/
        /*border-top: 8px solid #4aaaa5;*/
        /*Cowboys footer*/
        background: rgb(12,42,86);       
        border-top: 8px solid rgb(99,129,135);
        /*Falcons footer*/
       /* background: rgb(6,1,1);       
        border-top: 8px solid rgb(248,2,28);*/
        
}
.jumbotron{
    text-align: center;
    height: 500px;
}
#title{
    background: rgb(99,129,135);
}
#showTimer {
    color: red;
}

#next a{
    color: red;
}

body {
    height: 100%;
}